<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">А я - рыба, я - рыба, я - рыба!
Не плачу, не смеюсь, не говорю: "Спасибо!"
А я - рыба, я - рыба, я - рыба!
Не хожу на работу, не получаю прибыль!</span>
  </div>
</footer>